Loading the Data

In [48]:
#add dependencies
import pandas as pd
import numpy as np

In [49]:
#file to load
gta_housing_csv = "GTA_houses_combined_precleaning.csv"

#read file and store into pandas dataframe
gta_housing_df = pd.read_csv(gta_housing_csv)

#check that everything loaded in
gta_housing_df.head(10)

,Unnamed: 0,imgSrc,detailUrl,address,addressCity,addressZipcode,beds,baths,price,latitude,longitude,homeType
0,0,https://photos.zillowstatic.com/fp/23aacb3df57...,https://www.zillow.com/homedetails/6225-Lawren...,"6225 Lawrence Ave E, Toronto, ON M1C 5G4",Toronto,M1C5G4,3,4,799900,43.655720,-79.457450,SINGLE_FAMILY
1,1,https://photos.zillowstatic.com/fp/aec043e5342...,https://www.zillow.com/homedetails/144-Rosemou...,"144 Rosemount Ave, Toronto, ON M6H 2M9",Toronto,M6H2M9,3,2,1249000,0.000000,0.000000,SINGLE_FAMILY
2,2,https://photos.zillowstatic.com/fp/1cd388cbfce...,https://www.zillow.com/homedetails/3840-Bathur...,"3840 Bathurst St #702, Toronto, ON M3H 6C6",Toronto,M3H6C6,2,2,699000,43.623860,-79.488945,CONDO
3,3,https://photos.zillowstatic.com/fp/1f0037527b3...,https://www.zillow.com/homedetails/8-Littlelea...,"8 Littleleaf Dr, Toronto, ON M1B 1Z1",Toronto,M1B1Z1,3,3,1149900,43.723150,-79.448230,CONDO
4,4,https://photos.zillowstatic.com/fp/780ba993641...,https://www.zillow.com/homedetails/2301-Danfor...,"2301 Danforth Ave #306, Toronto, ON M4C 0A7",Toronto,M4C0A7,2,2,699000,43.642390,-79.424736,CONDO
5,5,https://photos.zillowstatic.com/fp/950875d10ea...,https://www.zillow.com/homedetails/16-Catalda-...,"16 Catalda Ct, Toronto, ON M2R 3X5",Toronto,M2R3X5,4,5,2690000,43.641495,-79.410070,CONDO
6,6,https://photos.zillowstatic.com/fp/e9d5059a0e5...,https://www.zillow.com/homedetails/2460-Eglint...,"2460 Eglinton Ave E PENTHOUSE 12, Toronto, ON ...",Toronto,M1K5J7,2,2,829000,43.718020,-79.376884,CONDO
7,7,https://photos.zillowstatic.com/fp/bcb03884fdd...,https://www.zillow.com/homedetails/108-Stratfo...,"108 Stratford Cres, Toronto, ON M4N 1C6",Toronto,M4N1C6,4,7,12895000,0.000000,0.000000,CONDO
8,8,https://photos.zillowstatic.com/fp/5b2b9c8de91...,https://www.zillow.com/homedetails/30-Fifeshir...,"30 Fifeshire Rd, Toronto, ON M2L 2G6",Toronto,M2L2G6,9,16,17888000,0.000000,0.000000,CONDO
9,9,https://photos.zillowstatic.com/fp/1f93c0ad5a8...,https://www.zillow.com/homedetails/2-Doerr-Rd-...,"2 Doerr Rd, Toronto, ON M1P 4M6",Toronto,M1P4M6,3,6,1699000,0.000000,0.000000,CONDO

Prettifying the Data

In [50]:
#check column names
list(gta_housing_df)

['Unnamed: 0',
 'imgSrc',
 'detailUrl',
 'address',
 'addressCity',
 'addressZipcode',
 'beds',
 'baths',
 'price',
 'latitude',
 'longitude',
 'homeType']

In [51]:
#delete first column as it is unneeded
gta_housing_df = gta_housing_df.iloc[: , 1:]

#check dataframe
gta_housing_df.head()

,imgSrc,detailUrl,address,addressCity,addressZipcode,beds,baths,price,latitude,longitude,homeType
0,https://photos.zillowstatic.com/fp/23aacb3df57...,https://www.zillow.com/homedetails/6225-Lawren...,"6225 Lawrence Ave E, Toronto, ON M1C 5G4",Toronto,M1C5G4,3,4,799900,43.65572,-79.457450,SINGLE_FAMILY
1,https://photos.zillowstatic.com/fp/aec043e5342...,https://www.zillow.com/homedetails/144-Rosemou...,"144 Rosemount Ave, Toronto, ON M6H 2M9",Toronto,M6H2M9,3,2,1249000,0.00000,0.000000,SINGLE_FAMILY
2,https://photos.zillowstatic.com/fp/1cd388cbfce...,https://www.zillow.com/homedetails/3840-Bathur...,"3840 Bathurst St #702, Toronto, ON M3H 6C6",Toronto,M3H6C6,2,2,699000,43.62386,-79.488945,CONDO
3,https://photos.zillowstatic.com/fp/1f0037527b3...,https://www.zillow.com/homedetails/8-Littlelea...,"8 Littleleaf Dr, Toronto, ON M1B 1Z1",Toronto,M1B1Z1,3,3,1149900,43.72315,-79.448230,CONDO
4,https://photos.zillowstatic.com/fp/780ba993641...,https://www.zillow.com/homedetails/2301-Danfor...,"2301 Danforth Ave #306, Toronto, ON M4C 0A7",Toronto,M4C0A7,2,2,699000,43.64239,-79.424736,CONDO

In [52]:
#change column names for easier reading
gta_housing_df.columns = ["Listing_Image", "Listing_URL", "Full_Address", "City", "Zipcode", "Bedrooms", "Bathrooms", "Price", "Latitude", "Longitude", "Home_Type"]

#check dataframe again
gta_housing_df.head()

,Listing_Image,Listing_URL,Full_Address,City,Zipcode,Bedrooms,Bathrooms,Price,Latitude,Longitude,Home_Type
0,https://photos.zillowstatic.com/fp/23aacb3df57...,https://www.zillow.com/homedetails/6225-Lawren...,"6225 Lawrence Ave E, Toronto, ON M1C 5G4",Toronto,M1C5G4,3,4,799900,43.65572,-79.457450,SINGLE_FAMILY
1,https://photos.zillowstatic.com/fp/aec043e5342...,https://www.zillow.com/homedetails/144-Rosemou...,"144 Rosemount Ave, Toronto, ON M6H 2M9",Toronto,M6H2M9,3,2,1249000,0.00000,0.000000,SINGLE_FAMILY
2,https://photos.zillowstatic.com/fp/1cd388cbfce...,https://www.zillow.com/homedetails/3840-Bathur...,"3840 Bathurst St #702, Toronto, ON M3H 6C6",Toronto,M3H6C6,2,2,699000,43.62386,-79.488945,CONDO
3,https://photos.zillowstatic.com/fp/1f0037527b3...,https://www.zillow.com/homedetails/8-Littlelea...,"8 Littleleaf Dr, Toronto, ON M1B 1Z1",Toronto,M1B1Z1,3,3,1149900,43.72315,-79.448230,CONDO
4,https://photos.zillowstatic.com/fp/780ba993641...,https://www.zillow.com/homedetails/2301-Danfor...,"2301 Danforth Ave #306, Toronto, ON M4C 0A7",Toronto,M4C0A7,2,2,699000,43.64239,-79.424736,CONDO

Separating Table into Two

In [53]:
#separate df into two dataframes so that columns not needed for machine learning are separated
listing_info = gta_housing_df[['Listing_Image', 'Listing_URL', 'Full_Address', 'Zipcode']]

#check that dataframe captures correct columns
listing_info.head()

,Listing_Image,Listing_URL,Full_Address,Zipcode
0,https://photos.zillowstatic.com/fp/23aacb3df57...,https://www.zillow.com/homedetails/6225-Lawren...,"6225 Lawrence Ave E, Toronto, ON M1C 5G4",M1C5G4
1,https://photos.zillowstatic.com/fp/aec043e5342...,https://www.zillow.com/homedetails/144-Rosemou...,"144 Rosemount Ave, Toronto, ON M6H 2M9",M6H2M9
2,https://photos.zillowstatic.com/fp/1cd388cbfce...,https://www.zillow.com/homedetails/3840-Bathur...,"3840 Bathurst St #702, Toronto, ON M3H 6C6",M3H6C6
3,https://photos.zillowstatic.com/fp/1f0037527b3...,https://www.zillow.com/homedetails/8-Littlelea...,"8 Littleleaf Dr, Toronto, ON M1B 1Z1",M1B1Z1
4,https://photos.zillowstatic.com/fp/780ba993641...,https://www.zillow.com/homedetails/2301-Danfor...,"2301 Danforth Ave #306, Toronto, ON M4C 0A7",M4C0A7

In [54]:
#save the listing_info df as a separate csv file
listing_info.to_csv('C:/Users/Ari/final_project/Finalized_Data_for_SQL/GTA_houses_cleaned.csv', index=False)

In [55]:
#now, put the other columns in a separate df
gta_houses_cleaned_dummies = gta_housing_df[['Full_Address', 'Bedrooms', 'Bathrooms', 'Price', 'City', 'Home_Type', 'Latitude', 'Longitude']]

#check that dataframe captures correct columns
gta_houses_cleaned_dummies.head()

,Full_Address,Bedrooms,Bathrooms,Price,City,Home_Type,Latitude,Longitude
0,"6225 Lawrence Ave E, Toronto, ON M1C 5G4",3,4,799900,Toronto,SINGLE_FAMILY,43.65572,-79.457450
1,"144 Rosemount Ave, Toronto, ON M6H 2M9",3,2,1249000,Toronto,SINGLE_FAMILY,0.00000,0.000000
2,"3840 Bathurst St #702, Toronto, ON M3H 6C6",2,2,699000,Toronto,CONDO,43.62386,-79.488945
3,"8 Littleleaf Dr, Toronto, ON M1B 1Z1",3,3,1149900,Toronto,CONDO,43.72315,-79.448230
4,"2301 Danforth Ave #306, Toronto, ON M4C 0A7",2,2,699000,Toronto,CONDO,43.64239,-79.424736

In [57]:
#save the gta_houses_cleaned_dummies df as a separate csv file
gta_houses_cleaned_dummies.to_csv('C:/Users/Ari/final_project/Finalized_Data_for_SQL/GTA_houses_cleaned_dummies.csv', index=False)

Starting Data Exploration and Data Cleaning

In [58]:
#load in the table for future machine learning model
data_explor = "C:/Users/Ari/final_project/Finalized_Data_for_SQL/gta_houses_cleaned_dummies.csv"

#read file and store into pandas dataframe
df = pd.read_csv(data_explor)

#check that everything loaded in
df.head(10)

,Full_Address,Bedrooms,Bathrooms,Price,City,Home_Type,Latitude,Longitude
0,"6225 Lawrence Ave E, Toronto, ON M1C 5G4",3,4,799900,Toronto,SINGLE_FAMILY,43.655720,-79.457450
1,"144 Rosemount Ave, Toronto, ON M6H 2M9",3,2,1249000,Toronto,SINGLE_FAMILY,0.000000,0.000000
2,"3840 Bathurst St #702, Toronto, ON M3H 6C6",2,2,699000,Toronto,CONDO,43.623860,-79.488945
3,"8 Littleleaf Dr, Toronto, ON M1B 1Z1",3,3,1149900,Toronto,CONDO,43.723150,-79.448230
4,"2301 Danforth Ave #306, Toronto, ON M4C 0A7",2,2,699000,Toronto,CONDO,43.642390,-79.424736
5,"16 Catalda Ct, Toronto, ON M2R 3X5",4,5,2690000,Toronto,CONDO,43.641495,-79.410070
6,"2460 Eglinton Ave E PENTHOUSE 12, Toronto, ON ...",2,2,829000,Toronto,CONDO,43.718020,-79.376884
7,"108 Stratford Cres, Toronto, ON M4N 1C6",4,7,12895000,Toronto,CONDO,0.000000,0.000000
8,"30 Fifeshire Rd, Toronto, ON M2L 2G6",9,16,17888000,Toronto,CONDO,0.000000,0.000000
9,"2 Doerr Rd, Toronto, ON M1P 4M6",3,6,1699000,Toronto,CONDO,0.000000,0.000000

In [59]:
#get column types for dataframe of interest
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2399 entries, 0 to 2398
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Full_Address  2399 non-null   object
 1   Bedrooms      2399 non-null   int64
 2   Bathrooms     2399 non-null   int64
 3   Price         2399 non-null   int64
 4   City          2399 non-null   object
 5   Home_Type     2399 non-null   object
 6   Latitude      2399 non-null   float64
 7   Longitude     2399 non-null   float64
dtypes: float64(2), int64(3), object(3)
memory usage: 150.1+ KB

In [60]:
#check for and drop any duplicates
df.drop_duplicates()

#no duplicates found

,Full_Address,Bedrooms,Bathrooms,Price,City,Home_Type,Latitude,Longitude
0,"6225 Lawrence Ave E, Toronto, ON M1C 5G4",3,4,799900,Toronto,SINGLE_FAMILY,43.65572,-79.457450
1,"144 Rosemount Ave, Toronto, ON M6H 2M9",3,2,1249000,Toronto,SINGLE_FAMILY,0.00000,0.000000
2,"3840 Bathurst St #702, Toronto, ON M3H 6C6",2,2,699000,Toronto,CONDO,43.62386,-79.488945
3,"8 Littleleaf Dr, Toronto, ON M1B 1Z1",3,3,1149900,Toronto,CONDO,43.72315,-79.448230
4,"2301 Danforth Ave #306, Toronto, ON M4C 0A7",2,2,699000,Toronto,CONDO,43.64239,-79.424736
...,...,...,...,...,...,...,...,...
2394,"9075 Jane St #1904, Vaughan, ON L6A 4H9",2,2,10500000,Vaughan,CONDO,43.79403,-79.446880
2395,"154 Mistysugar Trl, Vaughan, ON L4J 8T4",4,4,11298000,Vaughan,SINGLE_FAMILY,0.00000,0.000000
2396,"62 Glen Abbey Trl, Vaughan, ON L4H 3X7",4,4,11750000,Vaughan,SINGLE_FAMILY,43.81835,-79.430730
2397,"15 N Park Rd #808, Vaughan, ON L4J 0A1",1,2,12998888,Vaughan,SINGLE_FAMILY,43.83860,-79.641716
2398,"196 Marlott Rd, Vaughan, ON L6A 1H2",4,5,13500000,Vaughan,SINGLE_FAMILY,43.86965,-79.705060

In [61]:
#count values cities
df['City'].value_counts()

Toronto        797
Brampton       400
Markham        400
Mississauga    400
Vaughan        399
Etobicoke        2
Thornhill        1
Name: City, dtype: int64

In [62]:
#clean city columns if there is not enought data to test
indexCITY = df[df['City'] == 'Etobicoke'].index
df.drop(indexCITY , inplace=True)

indexCITY = df[df['City'] == 'Thornhill'].index
df.drop(indexCITY , inplace=True)

#check dataframe
df['City'].value_counts()

Toronto        797
Brampton       400
Markham        400
Mississauga    400
Vaughan        399
Name: City, dtype: int64

In [63]:
#count values # of beds
df['Bedrooms'].value_counts()

3     828
4     764
2     319
1     201
5     194
6      38
0      38
7      11
9       2
12      1
Name: Bedrooms, dtype: int64

In [65]:
#clean bedrooms column if there is not enought data to test
indexBED = df[df['Bedrooms'] == 12].index
df.drop(indexBED , inplace=True)

indexBED = df[df['Bedrooms'] == 9].index
df.drop(indexBED , inplace=True)

indexBED = df[df['Bedrooms'] == 0].index
df.drop(indexBED , inplace=True)

indexBED = df[df['Bedrooms'] == 6].index
df.drop(indexBED , inplace=True)

indexBED = df[df['Bedrooms'] == 7].index
df.drop(indexBED , inplace=True)

#check dataframe
df['Bedrooms'].value_counts()

3    828
4    764
2    319
1    201
5    194
Name: Bedrooms, dtype: int64

In [66]:
#count values # of baths
df['Bathrooms'].value_counts()

2     631
4     555
3     540
1     234
5     189
6      78
7      38
8      27
9       6
0       4
11      2
10      1
13      1
Name: Bathrooms, dtype: int64

In [67]:
#clean bedrooms column if there is not enought data to test
indexBATH = df[df['Bathrooms'] == 13].index
df.drop(indexBATH , inplace=True)

indexBATH = df[df['Bathrooms'] == 10].index
df.drop(indexBATH , inplace=True)

indexBATH = df[df['Bathrooms'] == 11].index
df.drop(indexBATH , inplace=True)

indexBATH = df[df['Bathrooms'] == 0].index
df.drop(indexBATH , inplace=True)

indexBATH = df[df['Bathrooms'] == 9].index
df.drop(indexBATH , inplace=True)

indexBATH = df[df['Bathrooms'] == 8].index
df.drop(indexBATH , inplace=True)

indexBATH = df[df['Bathrooms'] == 7].index
df.drop(indexBATH , inplace=True)

#check dataframe
df['Bathrooms'].value_counts()

2    631
4    555
3    540
1    234
5    189
6     78
Name: Bathrooms, dtype: int64

In [68]:
#count values home type
df['Home_Type'].value_counts()

SINGLE_FAMILY    1449
CONDO             475
TOWNHOUSE         288
LOT                 5
MULTI_FAMILY        5
APARTMENT           3
MANUFACTURED        2
Name: Home_Type, dtype: int64

In [69]:
#clean bedrooms column if there is not enought data to test
indexHOME = df[df['Home_Type'] == 'MULTI_FAMILY'].index
df.drop(indexHOME , inplace=True)

indexHOME = df[df['Home_Type'] == 'LOT'].index
df.drop(indexHOME , inplace=True)

indexHOME = df[df['Home_Type'] == 'APARTMENT'].index
df.drop(indexHOME , inplace=True)

indexHOME = df[df['Home_Type'] == 'MANUFACTURED'].index
df.drop(indexHOME , inplace=True)

#check dataframe
df['Home_Type'].value_counts()

SINGLE_FAMILY    1449
CONDO             475
TOWNHOUSE         288
Name: Home_Type, dtype: int64

In [ ]:
df[df.price<1000]

In [ ]:
#clean lat x long columns if their values are 0
indexLAT = gta_housing_df[ gta_housing_df['latitude'] == 0 ].index
gta_housing_df.drop(indexLAT , inplace=True)

indexLONG = gta_housing_df[ gta_housing_df['longitude'] == 0 ].index
gta_housing_df.drop(indexLONG , inplace=True)

#check dataframe
gta_housing_df.info()

In [ ]:
#clean bedrooms column if there is not enought data to test
indexPRICE = gta_housing_df[ gta_housing_df['price'] < 1000 ].index
gta_housing_df.drop(indexPRICE , inplace=True)

indexPRICE = gta_housing_df[ gta_housing_df['price'] > 12998887 ].index
gta_housing_df.drop(indexPRICE , inplace=True)


#check dataframe
gta_housing_df['price'].value_counts()

In [ ]:
gta_housing_df.shape

In [ ]:
#check average prices per city
gta_housing_df.groupby('city')['price'].mean()

In [ ]:
#check average price per number of bedrooms
gta_housing_df.groupby('# of beds')['price'].mean()

In [ ]:
#check average price per number of bathrooms
gta_housing_df.groupby('# of bathrooms')['price'].mean()

In [ ]:
#check average price per zipcode
gta_housing_df.groupby('zipcode')['price'].mean()

In [ ]:
#check average price per dwelling type
gta_housing_df.groupby('home type')['price'].mean()

In [ ]:
#format price column
gta_housing_df['price'] = gta_housing_df['price'].map("${:,.2f}".format)

gta_housing_df['price']

In [ ]:
gta_housing_df.head()

In [ ]:
gta_housing_df.to_csv('GTA_houses_cleaned.csv', index=False)