In [1]:
# import dependencies

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import create_engine, func
from config import db_password

In [2]:
#create an SQLAlchemy engine instance
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/GTA_Housing_Market"

In [3]:
#connect to PostgreSQL server
engine = create_engine(db_string)

ModuleNotFoundError: No module named 'psycopg2'

In [31]:
#read table from SQL to dataframe
df = pd.read_sql('select * from gta_housing_dataset', con=engine)

In [32]:
# check that data is loading
df.head(10)

,full_address,bedrooms,bathrooms,price,latitude,longitude,city_brampton,city_markham,city_mississauga,city_toronto,city_vaughan,home_type_condo,home_type_single_family,home_type_townhouse
0,"6225 Lawrence Ave E, Toronto, ON M1C 5G4",3,4,799900,43.655720,-79.457450,0,0,0,1,0,0,1,0
1,"3840 Bathurst St #702, Toronto, ON M3H 6C6",2,2,699000,43.623860,-79.488945,0,0,0,1,0,1,0,0
2,"8 Littleleaf Dr, Toronto, ON M1B 1Z1",3,3,1149900,43.723150,-79.448230,0,0,0,1,0,1,0,0
3,"2301 Danforth Ave #306, Toronto, ON M4C 0A7",2,2,699000,43.642390,-79.424736,0,0,0,1,0,1,0,0
4,"16 Catalda Ct, Toronto, ON M2R 3X5",4,5,2690000,43.641495,-79.410070,0,0,0,1,0,1,0,0
5,"2460 Eglinton Ave E PENTHOUSE 12, Toronto, ON ...",2,2,829000,43.718020,-79.376884,0,0,0,1,0,1,0,0
6,"7 Brimley Rd S #E31, Toronto, ON M1M 3W3",1,1,299999,43.714500,-79.453510,0,0,0,1,0,1,0,0
7,"17 Caddy Dr, Toronto, ON M1G 2E9",3,2,924900,43.641552,-79.424515,0,0,0,1,0,1,0,0
8,"441 Jane St #109, Toronto, ON M6S 3Z9",2,2,769000,43.589770,-79.545170,0,0,0,1,0,1,0,0
9,"121 Forest Heights Blvd, Toronto, ON M2L 2K7",4,6,7288000,43.780040,-79.412680,0,0,0,1,0,1,0,0

In [33]:
#identify the input and target variables
X = df.drop(['price','full_address'], axis=1)

y = df[['price']]

In [79]:
# split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 20, random_state = 2222)

# Train the Model
regr = RandomForestRegressor(n_estimators = 100, random_state = 2222, n_jobs = -1)
regr.fit(X_train, y_train.values.ravel())

RandomForestRegressor(n_jobs=-1, random_state=2222)

In [80]:
# Make prediction
predictions = regr.predict(X_test)


result = X_test
result['price'] = y_test
result['prediction'] = predictions.tolist()
result['prediction'] = result['prediction'].astype('int')

result.head()

,bedrooms,bathrooms,latitude,longitude,city_brampton,city_markham,city_mississauga,city_toronto,city_vaughan,home_type_condo,home_type_single_family,home_type_townhouse,price,prediction
688,4,3,43.705524,-79.74558,1,0,0,0,0,0,1,0,949000,1045674
776,3,1,43.720910,-79.70404,1,0,0,0,0,0,1,0,1249000,949582
1513,4,4,43.570200,-79.69523,0,0,1,0,0,0,1,0,3149000,1765933
1826,2,2,43.871044,-79.48177,0,0,0,0,1,0,1,0,3288000,3185523
994,4,5,43.899460,-79.22304,0,1,0,0,0,0,1,0,995000,1382031

In [81]:
# Mean squared error (MSE)
mse = mean_squared_error(y_test.values.ravel(), predictions)

# R2 Score
r2 = r2_score(y_test.values.ravel(), predictions)

# Mean Absolute Error
mae = mean_absolute_error(y_test.values.ravel(), predictions)

#Print Results
print("Mean squared error (MSE): ", round(mse, 2))
print("R2 Score: ", round(r2, 2))
print("Mean Absolute Error (MAE): ", round(mae, 2))

Mean squared error (MSE):  259125079933.5
R2 Score:  0.62
Mean Absolute Error (MAE):  364387.3

In [1]:
#save the model learning to a csv file
result.to_csv('C:/Users/Brandon/final_project/Data_for_Tableau/GTA_model_results.csv', index=False)

NameError: name 'result' is not defined