In [56]:
# import dependencies

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [57]:
# import data

houses = pd.read_csv('resources/GTA_houses_cleaned_dummies.csv')
df = houses
df.head(10)

,full_address,bedrooms,bathrooms,price,Brampton,Markham,Mississauga,Toronto,Vaughan,CONDO,SINGLE_FAMILY,TOWNHOUSE,latitude,longitude
0,"6225 Lawrence Ave E, Toronto, ON M1C 5G4",3,4,799900,0,0,0,1,0,0,1,0,43.655720,-79.457450
1,"3840 Bathurst St #702, Toronto, ON M3H 6C6",2,2,699000,0,0,0,1,0,1,0,0,43.623860,-79.488945
2,"8 Littleleaf Dr, Toronto, ON M1B 1Z1",3,3,1149900,0,0,0,1,0,1,0,0,43.723150,-79.448230
3,"2301 Danforth Ave #306, Toronto, ON M4C 0A7",2,2,699000,0,0,0,1,0,1,0,0,43.642390,-79.424736
4,"16 Catalda Ct, Toronto, ON M2R 3X5",4,5,2690000,0,0,0,1,0,1,0,0,43.641495,-79.410070
5,"2460 Eglinton Ave E PENTHOUSE 12, Toronto, ON ...",2,2,829000,0,0,0,1,0,1,0,0,43.718020,-79.376884
6,"7 Brimley Rd S #E31, Toronto, ON M1M 3W3",1,1,299999,0,0,0,1,0,1,0,0,43.714500,-79.453510
7,"17 Caddy Dr, Toronto, ON M1G 2E9",3,2,924900,0,0,0,1,0,1,0,0,43.641552,-79.424515
8,"441 Jane St #109, Toronto, ON M6S 3Z9",2,2,769000,0,0,0,1,0,1,0,0,43.589770,-79.545170
9,"121 Forest Heights Blvd, Toronto, ON M2L 2K7",4,6,7288000,0,0,0,1,0,1,0,0,43.780040,-79.412680

In [51]:
# Creating dummy variables
#df = pd.get_dummies(df, columns=['city', 'home type'])
#df.head()

In [58]:
#identify the input and target variables
X = df.drop(['price','full_address'], axis=1)

y = df[['price']]

In [59]:
# split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 20, random_state = 2010)

# Train the Model
regr = RandomForestRegressor(n_estimators = 100, random_state = 2010, n_jobs = -1)
regr.fit(X_train, y_train.values.ravel())

RandomForestRegressor(n_jobs=-1, random_state=2010)

In [60]:
# Make prediction
predictions = regr.predict(X_test)


result = X_test
result['price'] = y_test
result['prediction'] = predictions.tolist()
result['prediction'] = result['prediction'].astype('int')

result.head()

,bedrooms,bathrooms,Brampton,Markham,Mississauga,Toronto,Vaughan,CONDO,SINGLE_FAMILY,TOWNHOUSE,latitude,longitude,price,prediction
336,3,2,0,0,0,1,0,0,1,0,43.670834,-79.340720,1549900,1177613
371,3,2,0,0,0,1,0,1,0,0,43.731415,-79.328570,999900,1089870
359,2,2,0,0,0,1,0,0,1,0,43.609383,-79.495865,599000,810267
361,3,2,0,0,0,1,0,0,1,0,43.705450,-79.526850,1799990,1075606
1759,4,5,0,0,0,0,1,0,1,0,43.826160,-79.613180,1588888,1964134

In [61]:
# Mean squared error (MSE)
mse = mean_squared_error(y_test.values.ravel(), predictions)

# R2 Score
r2 = r2_score(y_test.values.ravel(), predictions)

# Mean Absolute Error
mae = mean_absolute_error(y_test.values.ravel(), predictions)

#Print Results
print("Mean squared error (MSE): ", round(mse, 2))
print("R2 Score: ", round(r2, 2))
print("Mean Absolute Error (MAE): ", round(mae, 2))

Mean squared error (MSE):  225396866584.66
R2 Score:  0.84
Mean Absolute Error (MAE):  391852.01